/* colors */
/* font */
/* queries */
.header
{
    position: fixed;
    z-index: 9999; 

    width: 100%;
}
.header__burger
{
    position: absolute;
    top: 50px;
    right: 46px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box; 
    height: 38px;
    padding-top: 15px;

    cursor: pointer;
}

@font-face
{
    font-family: 'Futura';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/FuturaBookC.eot');
    src: url('../fonts/FuturaBookC.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaBookC.woff') format('woff'), url('../fonts/FuturaBookC.ttf') format('truetype'), url('../fonts/FuturaBookC.svg#Futura') format('svg');
}

@font-face
{
    font-family: 'Futura';
    font-weight: 800;
    font-style: normal;

    src: url('../fonts/FuturaDemiC.eot');
    src: url('../fonts/FuturaDemiC.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaDemiC.woff') format('woff'), url('../fonts/FuturaDemiC.ttf') format('truetype'), url('../fonts/FuturaDemiC.svg#Futura') format('svg');
}

html
{
    font-family: 'Futura', Arial, sans-serif;
    font-size: .8vw;
    font-weight: 400;
}

body
{
    min-width: 320px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

html,
body,
main
{
    height: 100%;
}

h1,
h2,
h3,
p
{
    margin: 0;
}

p
{
    font-size: 1.1875rem; 
    font-weight: 400;

    margin-bottom: 1.5625rem;
}
p:last-child
{
    margin-bottom: 0;
}

.link
{
    color: #000;
}
.link--red
{
    color: #fe0000;
}
.link--hidden
{
    text-decoration: none;

    color: inherit;
}
.link--hidden:hover
{
    text-decoration: underline;
}

.section-wrapper
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    height: 100%;
}

.contacts-section
{
    padding-top: 18%;
}
.contacts-section h3
{
    font-size: 1.875rem; 
    font-weight: 800;
}
.contacts-section__info
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box; 
    width: 39%;
    padding-right: 2.875rem;
    padding-left: 11vw;
}
.contacts-section__info__address
{
    font-size: 1.875rem; 

    margin-bottom: 2.5rem;
}
.contacts-section__info__state
{
    font-size: 1.875rem;
    font-weight: 800;

    margin-bottom: 2.5rem;

    color: #b6b6b6;
}
.contacts-section__info__social
{
    margin-top: 25px;
}
.contacts-section__info__social a
{
    display: inline-block;

    margin-right: 20px; 
    margin-bottom: 20px;
}
.contacts-section__subscribe
{
    width: 100%;
    max-width: 875px;
    padding-right: 2.875rem;
}

.slider
{
    width: 100%;

    -webkit-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease;
}
.slider.fade
{
    opacity: 0;
}

.slider-section
{
    -webkit-transition: all 1s ease;
         -o-transition: all 1s ease;
            transition: all 1s ease;
}
.slider-section.fade
{
    opacity: 0;
}

.logo
{
    position: fixed;
    z-index: 9999; 
    top: 50px;
    left: 46px;
}

.logo-border
{
    position: absolute;
    z-index: 1; 
    top: 50px;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
}
.logo-border-inner
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box; 
    height: 57vh;
    margin-right: 142px;
    margin-left: 127px;

    border: 6px solid #fe0000;
}

.burger
{
    position: relative;

    display: block;

    width: 58px;
    height: 6px;

    vertical-align: middle;

    background-color: #fe0000;
}
.burger:before,
.burger:after
{
    position: absolute;

    width: 58px;
    height: 6px;

    content: '';
    pointer-events: auto; 

    background-color: #fe0000;
}
.burger:before
{
    top: 7px;

    -webkit-transform: translate(0, 8px);
        -ms-transform: translate(0, 8px);
            transform: translate(0, 8px);
}
.burger:after
{
    top: -7px;

    -webkit-transform: translate(0, -8px);
        -ms-transform: translate(0, -8px);
            transform: translate(0, -8px);
}

.slide
{
    position: relative;

    width: 100%;
    height: 100%;
}
.slide__content
{
    position: relative;

    width: 39%;
    height: 100%;
}
.slide__content--full-width
{
    width: 100%;
}
.slide__content__inner
{
    position: absolute;
    z-index: 3;
    top: 37vh;
    left: 11vw;

    -webkit-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;

    opacity: 1;
}
.slide__content__inner.fade
{
    -webkit-transition: all .1s ease;
         -o-transition: all .1s ease;
            transition: all .1s ease; 

    opacity: 0;
}
.slide__content__head
{
    line-height: 4.5625rem;

    z-index: 1; 

    width: 200%;
}
.slide__content__head h2
{
    font-size: 4.0625rem;
    font-weight: 800;
}
.slide__content__head__title
{
    font-size: 3.125rem;
    font-weight: 400;
}
.slide__content__head__date
{
    font-size: 1.875rem;
    font-weight: 400; 

    color: #fe0000;
}
.slide__content__description
{
    padding-top: 12vh;
    padding-right: 3vw;
}
.slide__image
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    max-width: 61%;

    -webkit-transition: opacity .2s ease, -webkit-transform 1s ease-out;
         -o-transition: transform 1s ease-out, opacity .2s ease;
            transition: opacity .2s ease, -webkit-transform 1s ease-out;
            transition: transform 1s ease-out, opacity .2s ease;
            transition: transform 1s ease-out, opacity .2s ease, -webkit-transform 1s ease-out; 

    opacity: 1;
    background-color: #fe0000;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
            background-size: cover;
}
.slide__image.fade
{
    -webkit-transition: opacity .2s ease;
         -o-transition: opacity .2s ease;
            transition: opacity .2s ease; 

    opacity: 0;
}
.slide__image.move
{
    -webkit-transition: all 1.2s ease-in;
         -o-transition: all 1.2s ease-in;
            transition: all 1.2s ease-in; 
    -webkit-transform: translateY(-500px);
        -ms-transform: translateY(-500px);
            transform: translateY(-500px);
}

.slick-list,
.slick-track
{
    height: 100%;
}

.form-subscribe
{
    width: 100%;
    margin-top: 1.875rem;
}
.form-subscribe__input
{
    font-family: 'Futura', Arial, sans-serif;
    font-size: 1.875rem;
    line-height: 5.0625rem;

    -webkit-box-sizing: border-box;
            box-sizing: border-box; 
    width: 100%;
    height: 5.0625rem;
    margin-bottom: 2.8125rem;
    padding-right: 1.875rem;
    padding-left: 1.875rem;

    border: 2px solid #fe0000;
    outline: none;
}
.form-subscribe__inner
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
            align-items: flex-start;
}
.form-subscribe__inner__disclaimer
{
    padding-right: 5rem;
}
.form-subscribe button
{
    font-family: 'Futura', Arial, sans-serif;
    font-size: 1.875rem;
    font-weight: 800;
    line-height: 5.3125rem;

    margin-top: 1.875rem;
    padding-right: 1.875rem;
    padding-left: 1.875rem;

    cursor: pointer;

    color: #fff;
    border: none;
    -webkit-border-radius: 0;
            border-radius: 0;
    outline: none; 
    background-color: #fe0000;
}

.form-input
{
    position: relative;
}
.form-input__hint
{
    position: absolute;
    bottom: 1.125rem;
}

.animate-together
{
    -webkit-transition: all .5s ease-out;
         -o-transition: all .5s ease-out;
            transition: all .5s ease-out;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);

    opacity: 1;
}
.animate-together.anim
{
    -webkit-transition: all .5s ease-in;
         -o-transition: all .5s ease-in;
            transition: all .5s ease-in;
    -webkit-transform: translateY(150px);
        -ms-transform: translateY(150px);
            transform: translateY(150px);

    opacity: 0;
}
