@import "helpers/variables";
@import "helpers/functions";
@import "helpers/mixins";
@import "helpers/placeholders";


@import "partials/header";
@import "partials/footer";
@import "partials/footer";



//@include fontFace('Futura','../fonts/futuralightc', 300);
@include fontFace('Futura','../fonts/FuturaBookC', 400);
//@include fontFace('Futura','../fonts/Panton-SemiBold', 600);
@include fontFace('Futura','../fonts/FuturaDemiC', 800);



html {
  font-size: .8vw;
  font-family: 'Futura', Arial, sans-serif;
  font-weight: 400;
}

body {
  min-width: 320px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

html, body, main {
  height: 100%;
}

h1, h2, h3, p {
  margin: 0;
}
p {
  margin-bottom: calculateRem(25px);
  font-weight: 400;
  font-size: calculateRem(19px);
  &:last-child {
    margin-bottom: 0;
  }
}
.link {
  color: #000;

  &--red {
    color: #fe0000;
  }


  &--hidden {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}

.section-wrapper {
  display: flex;
  height: 100%;
}
.contacts-section {
  //align-items: center;
  padding-top: 18%;
  h3 {
    font-weight: 800;
    font-size: calculateRem(30px);
  }

  &__info {
    width: 39%;
    padding-left: 11vw;
    padding-right: calculateRem(46px);
    box-sizing: border-box;



    &__address {
      margin-bottom: calculateRem(40px);
      font-size: calculateRem(30px);
    }
    &__state {
      margin-bottom: calculateRem(40px);
      font-size: calculateRem(30px);
      font-weight: 800;
      color: #b6b6b6;
    }

    &__social {

      margin-top: 25px;

      a {
        display: inline-block;
        margin-bottom: 20px;
        margin-right: 20px;
      }
    }
  }
  &__subscribe {
    max-width: 875px;
    width: 100%;
    padding-right: calculateRem(46px);
    //box-sizing: border-box;
  }
}

.slider {
  width: 100%;

  transition: all 1s ease;

  &.fade {
    opacity: 0;
  }
}
.slider-section {
  transition: all 1s ease;

  &.fade {
    opacity: 0;

  }
}


//.slick-slide {
//  opacity: 0 !important;
//  &.slick-current {
//    opacity: 1 !important;
//  }
//}

.logo {
  position: fixed;
  top: 50px;
  left: 46px;

  z-index: 9999;
}

.logo-border {
  position: absolute;
  top: 50px;
  width: 100%;


  box-sizing: border-box;
  z-index: 1;

  &-inner {
    height: 57vh;

    margin-left: 127px;
    margin-right: 142px;

    border: 6px solid #fe0000;

    box-sizing: border-box;
  }
}

.burger {
  position: relative;
  display: block;
  width: 58px;
  height: 6px;
  vertical-align: middle;
  background-color: #fe0000;
  //margin-top: 8px;
  //transition: $transition;



  &:before, &:after {
    position: absolute;
    width: 58px;
    height: 6px;
    content: '';
    background-color: #fe0000;
    //transition: $transition;
    pointer-events: auto;
  }

  &:before {
    top: 7px;
    //left: 0;
    transform: translate(0, 8px);
  }
  &:after {
    top: -7px;
    //left: 0;
    transform: translate(0, -8px);
  }
}

.slide {
  position: relative;
  width: 100%;
  height: 100%;

  &__content {
    position: relative;
    width: 39%;
    height: 100%;
    //background-color: #fbfaf8;

    &--full-width {
      width: 100%;
    }

    &__inner {
      position: absolute;
      top: 37vh;
      left: 11vw;
      z-index: 3;

      transition: all .2s ease;
      opacity: 1;
      &.fade {
        opacity: 0;
        transition: all .1s ease;
        //transform: translateX(-600px);
      }
    }

    &__head {

      width: 200%;

      line-height: calculateRem(73px);

      z-index: 1;

      h2 {
        font-size: calculateRem(65px);
        font-weight: 800;
      }

      &__title {
        font-size: calculateRem(50px);
        font-weight: 400;
      }

      &__date {
        font-size: calculateRem(30px);
        color: #fe0000;
        font-weight: 400;
      }
    }

    &__description {
      //position: absolute;
      //top: 37vh;
      //left: 11vw;
      padding-top: 12vh;
      padding-right: 3vw;
    }


  }
  &__image {
    //width: 39%;
    max-width: 61%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fe0000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 1;
    transition: transform 1s ease-out, opacity 0.2s ease;

    &.fade {
      opacity: 0;
      transition: opacity .2s ease;

    }

    &.move {
      transform: translateY(-500px);
      transition: all 1.2s ease-in;
    }

  }
}

.cycle-slide-active {
  .cycle-slide__image {
    //opacity: 1;
  }
}

//.slick-slider {
//  visibility: hidden;
//  opacity: 0;
//  transition: opacity 400ms ease-in-out, transform 400ms cubic-bezier(.45,0,.27,1);
//
//  &.slick-initialized {
//    visibility: visible;
//    transition: opacity 400ms ease-in-out, transform 400ms cubic-bezier(.45,0,.27,1);
//    opacity: 1;
//  }
//}

.slick-list, .slick-track {
  height: 100%;
}

.form-subscribe {
  width: 100%;
  margin-top: calculateRem(30px);


  &__input {
    width: 100%;
    height: calculateRem(81px);
    margin-bottom: calculateRem(45px);

    padding-left: calculateRem(30px);
    padding-right: calculateRem(30px);
    line-height: calculateRem(81px);
    font-family: 'Futura', Arial, sans-serif;
    font-size: calculateRem(30px);
    outline: none;
    border: 2px solid #fe0000;
    box-sizing: border-box;

  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__disclaimer {
      padding-right: calculateRem(80px);
    }
  }

  button {
    //width: 225px;
    margin-top: calculateRem(30px);
    padding-left: calculateRem(30px);
    padding-right: calculateRem(30px);
    line-height: calculateRem(85px);
    color: #fff;
    font-size: calculateRem(30px);
    font-family: 'Futura', Arial, sans-serif;
    font-weight: 800;
    background-color: #fe0000;
    border: none;
    border-radius: 0;
    cursor: pointer;
    outline: none;
  }

}

.form-input {
  position: relative;

  &__hint {
    position: absolute;
    bottom: calculateRem(18px);
  }
}


.animate-together {
  transform: translateY(0);
  transition: all .5s ease-out;
  opacity: 1;
  &.anim {
    transform: translateY(150px);
    transition: all .5s ease-in;
    opacity: 0;
  }

}